.propic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/IMG_5868.jpg");
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  margin: 100px;
}

.profile {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
