<app-header></app-header>

<section>
  <div class="pitchtitle">
    <h3>My Pitch</h3>
  </div>
  <div>
    <div class="pitch">
      <p>
        Hello! My name is Roniya Rojan, and I am a recent graduate from
        Grand-Circus Coding Bootcamp (front-end focused)! Before bootcamp even
        started, I was a pre-medical student at Wayne State University. During
        my time in college, I was interested in coding! I would sit in with
        peers and observe the personal projects they have developed. Through
        their guidance, I was able to learn the fundamentals of HTML5/CSS.
        <br />
        <br />
        Graduating last year with a Bachelor in Science in Public Health, I
        realized my passion lies in software development. When I heard about
        Grand-Circus, I knew I had to take a workshop class to see if I can do
        this! In that one hour session, I have learned a lot of skills, and I
        was determined to finish this program in three months. Over the months,
        I learned a lot of skills, and I was challenged everyday. I aspire to
        become a full-stack developer in the near future, and I am ready to take
        on my next adventure!!
      </p>
    </div>
  </div>
</section>
<section>
  <div class="pitchtitle">
    <h3>Projects</h3>
  </div>
  <div>
    <div class="pitch">
      <p>
        <span>Matching Game:</span> JavaScript, TypeScript, HTML5/CSS
        <br />
        <br />
        <span>Front-End Website:</span> HTML5/CSS, JavaScript
        <br />
        <br />
        <span> Event-Master:</span> AngularJS, TypeScript, HTML5/CSS
        <br />
        <br />
        <span>NBA Trivia App:</span>
        AngularJS, TypeScript, Node.js/Express, SQL, Web APIs, JavaScript,
        HTML5/CSS
        <br />
        <br />
        <span>Personal Website:</span> AngularJS, HTML5/CSS, Typescript
        <br />
        <br />
        <span>Food Delivery Application:</span> AngularJS, HTML5/CSS, Typescript
      </p>
    </div>
  </div>
</section>
<section>
  <div class="pitchtitle">
    <h3>My Goals</h3>
  </div>
  <div>
    <div class="pitch">
      <p>
        I aspire to become a Full-Stack Developer in the near future. I want to
        be able to continuously learn new technologies and software. As a
        front-end graduate, I want start learning back-end development as well!
        As of now, I am learning the basics of Python. As a reliable team
        player, I have a strong foundation in communication skills to adhere to
        client’s need and promote business growth. With a passion to enrich and
        promote efficiency to peoples' lives, I am looking forward to
        opportunities that gives me a platform to innovate responsive websites,
        mobile apps, and internal frameworks.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
