<app-header></app-header>

<h4>Contact Me!</h4>
<div class="phonecontainer">
  <aside class="phonepic"></aside>
</div>
<div class="contact">
  <div class="contact">
    <p><span class="button">Phone Number:</span> 248-202-9680</p>
    <p><span class="button">Email:</span> roniyarojan24@gmail.com</p>
    <p>
      <span class="button">LinkedIn: </span>
      <a target="_blank" href="https://linkedin.com/in/roniya-rojan"
        >/in/roniya-rojan</a
      >
    </p>
    <p>
      <span class="button">GitHub:</span
      ><a target="_blank" href="https://github.com/ronithrojan">/ronithrojan</a>
    </p>
  </div>
</div>
<app-footer></app-footer>
